<!DOCTYPE html>
<html>

<head>

    <title> militarypedia.ru </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Сайт_СТ4.css">
</head>

<body>
    <div class= "header">
        <h1> Авиация</h1>
        <p1> Страница на стадии разработки...</p1>
    </div>

    <div class= "navbar">
        <a href="main">Главная страница</a>
        <a href="navy">Морской флот</a>
        <a href="vehicles">Наземная техника</a>
        <a href="avia">Авиация</a>
        <a href="profile">Личная страница</a>
    </div>

    <div class="row">
    
         <div class="main">
               <h2>Заголовок</h2>
               <h5>описание</h5>
               <p>Some text</p>
               <p>Information</p>

        </div>

    </div>

</body>

</html>