<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>InsTvor</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='inst.css') }}">
        <link rel="shortcut icon" href="материал/inst.png" />
    </head>
    <body>

        <div class="head"> 
            <img  src="материал/inst.png" width="100px">          
            <h1>InsTvor</h1>           
            <em>
                <p>
                    Лучший сервис для публикации <br>
                    Cвоих творческих задумок
                </p>
            </em>
        </div> 
        
        <div class="buttonbar">
            <a href="recuser"><strong>Рекомендации</strong></a>
            <a href="myuserw"><strong>Ваши работы</strong></a>
            <a href="finduser"><strong>Поиск</strong></a>
            <a class= "right"href="login"><strong>User</strong></a>
        </div>

        <h2>
            _ Ваше: _
         </h2>
             <div class=video>
                 
                 <h2>               
                     <strong>Упс..  Кажется тут всё ещё не чего нет <br>
                    Выложить можно здесь =>  <a href="/static/ERROR.jpg">Выложить</a></strong>
                 </h2>

             </div>
             <div class="footer">
                <h4>
                    Все рекомендации основаны на истории ваших поисков!
                </h4>
                <p>
                    <em>Все рекомендации основаны на истории ваших поисков<br>
                    Данный сайт был написан в 2024 году по много численным запросам<br>
                    Если захотели создать собственный сайт это круто!<br>
                    Обязательно пишите если всё понравилось!! 
                </em>
                </p>
                <p>
                    <em>
                        Если вас чем-то всё таки не устроил наш сайт <br>
                        То вот вам альтернатива нашего сайта,<br> 
                        которая чуть чуть лучше <a href="https://youtube.com">https://youtube.com......</a>
                    </em>
                </p>
            </div>
    </body>
</html>